.artisticGallery {
    display: flex;
    background-color: rgb(250, 225, 219);
    padding: 3%;
    gap: 2%;
}

.artisticTitle {
    place-content: center;
    font-size: 60px;
    color: black;
}

.description {
    margin-top: 8%;
    text-align: left;
    color: black;
    font-size: 30px;
}

@media (width < 1368px) {

    .description {
        font-size: 25px;
        text-align: center;
    }
}

@media (width <= 990px) {

    .description {
        font-size: 23px;
        text-align: center;
    }
}

@media (width <= 766px) {

    .description {
        font-size: 20px;
        text-align: center;
    }
}

.box {
    height: 60vh;
    background-image: url("../../../Common/Images/artistic1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: change-image infinite 6s linear;
    border-radius: 20%;
    cursor: pointer;
}

.box:hover {
    animation-play-state: paused;
}

@keyframes change-image {

    0% {
        background-image: url("../../../Common/Images/artistic1.jpg");
    }

    25% {
        background-image: url("../../../Common/Images/artistic2.jpg");
    }

    50% {
        background-image: url("../../../Common/Images/artistic3.jpg");
    }

    75% {
        background-image: url("../../../Common/Images/artistic4.jpg");
    }
}