
.header{
    display: flex;
    gap: 15px;
    text-align: center;
    margin: 0;
    padding-left: 20px;
}


.squeare1 {
    height: 6em;
    padding: 1.5em;
    display: flex;
    gap: 8px;

    /* background-color: red; */
  }
  
  .squeare2 {
    height: 6em;
    padding: 1.5em;
    display: flex;
    gap: 8px;
    justify-content: center;
    /* background-color: black; */
  }

  .headerBtn {
    color: white; /* rgb(250, 181, 193)*/
    background-color: transparent;
    border: none;
  }

  .imgIcon{
    height: 3.5vh;
  }