
.topicTitle {
    display: flex;
    place-content: center;
    text-align: center;
    padding: 3%;
    gap: 20px 0px;

    color: white;
    background-color: rgb(61, 48, 48);
    background-size: contain;
}

/* .artistic img {
    margin: 3%;
    padding: 0;
    box-shadow: 10px 5px 80px rgb(102, 38, 74);
} */

.artistCard {
    display: flex;
    align-items: center;
    color: black;
    background-color: white;
}

.cardText {
    margin: 1.5%;
    text-align: left;
}

.artistCard img {
    position: relative;
    height: 40vh;
    margin: 2% 0px;
    border-radius: 50px;
}