.footer {
    height: 30vh;
    margin: 0px;
    /* padding: 50px 10px; */
    color: rgb(68, 148, 68);
    background-color: whitesmoke;
    place-content: center;
    text-align: center;
}

.btnFooter {
    width: 150px;
    border: none;
    font-weight: 800px;
    font-size: 20px;
    background-color: pink;
    color: rgb(167, 11, 167);
}

.inputFooter{
    height: 4vh;
    background-color: white;
    border-color: rgb(68, 148, 68);
}

.iconFooter {
    height: 4vh;
    color: white;
    background-color: transparent;
    border: none;
}