.container-quinciañera{
    background-color: rgb(241, 241, 241);
}

.quinciañeraTitle {
    display: flex;
    align-items: center;
    place-content: center;
    font-size: 60px;
    height: 100px;
    margin: 1%;
    color: black;
}

img {
    width: 100%;
    margin-bottom: 1em;
}

.gallery{
    padding: 2.5% 5%;
    columns: 400px;
}

/* @media (width >1702px) {

    .gallery{
        columns: 400px;
    }
}

@media (width >= 1368px) {

    .gallery{
        columns: 350px;
    }
} */

@media (width < 1368px) {

    .gallery{
        columns: 300px;
    }
}

@media (width < 1036px) {

    .gallery{
        columns: 250px;
    }
}